* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    font-size: 16px;
    font-weight: bold;
    color: #f9faf8;
    padding: 8px 32px;
    border-radius: 8px;
    border-style: none;
}

button, .cta {
    background-color: #3882f6;
}

.cta-button {
    border-style: solid;
    border-color: #f9faf8;
    border-width: 2px;
}

.header-links li a {
    text-decoration: none;
    color: #e5e7eb;
}

.header-links, .hero-text-normal {
    font-size: 18px;
}

.hero-and-header{
    display: flex;
    flex-direction: column;
    padding: 0 144px;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-links {
    list-style: none;
    display: flex;
    gap: 16px;
}